<!DOCTYPE html>
<html>
<head>
    <title>User Home</title>
    <!-- Add Bootstrap Minty CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    <style>
        .h-custom-2 {
            height: 100%;
        }
        .centered-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    {{template "userNav.html"}}

    <!-- Main Content -->
    <div class="container-fluid centered-content">

        <!-- Checked Out Books List -->
        <h1>Your Checked Out Books</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Checkout Date</th>
                    <th scope="col">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {{range .Checkouts}}
                <tr>
                    <th scope="row">{{.BookId}}</th>
                    <td>{{.Title}}</td>
                    <td>{{.Author}}</td>
                    <td>{{.CheckoutDate}}</td>
                    <td>{{.DueDate}}</td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">No books checked out</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <!-- Add Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
